<h1>listado de Vueltras</h1>

<table>
  <thead>
    <tr>
      <th>Origen</th>
      <th>Destino</th>
      <th>Destino Extra (opcional)</th>
      <th>Usuario</th>
      <th>Hora de recogida</th>
      <th>Valor Mercancía</th>
      <th>Notas e instrucciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @puntos.each do |punto| %>
      <tr>
        <td><%= punto.origen %></td>
        <td><%= punto.destino %></td>
        <td><%= punto.destinodos %></td>
        <td><%= punto.user.email if punto.user %></td>
        <td><%= punto.hora %></td>
        <td><%= punto.valor %></td>
        <td><%= punto.notas %></td>
        <td><%= link_to 'Ver', punto %></td>
      <% if punto.user == current_user %>
        <td><%= link_to 'Editar', edit_punto_path(punto) %></td>
        <td><%= link_to 'Eliminar', punto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<%= link_to 'Nueva vuelta', new_punto_path %>
<% end %>

