<p id="notice"><%= notice %></p>

<p>
  <strong>Origen:</strong>
  <%= @punto.origen %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @punto.destino %>
</p>

<p>
  <strong>Destino Extra(opcional):</strong>
  <%= @punto.destinodos %>
</p>

<p>
  <strong>Hora de recogida:</strong>
  <%= @punto.hora %>
</p>

<p>
  <strong>Valor Mercancía:</strong>
  <%= @punto.valor %>
</p>

<p>
  <strong>Notas e instrucciones:</strong>
  <%= @punto.notas %>
</p>

<% if @punto.user == current_user %>
<%= link_to 'Edit', edit_punto_path(@punto) %> 
<% end %>
<%= link_to 'Back', puntos_path %>
