<p id="notice"><%= notice %></p>

<p>
  <strong>Origen:</strong>
  <%= @punto.origen %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @punto.destino %>
</p>

<p>
  <strong>Destinodos:</strong>
  <%= @punto.destinodos %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @punto.hora %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @punto.valor %>
</p>

<p>
  <strong>Notas:</strong>
  <%= @punto.notas %>
</p>

<%= link_to 'Edit', edit_punto_path(@punto) %> |
<%= link_to 'Back', puntos_path %>
